*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
    
}
.center{
    align-items: center;
   
}
.heading{
    text-align: center;
    text-transform: uppercase;
    color: #02918c;
    font-weight: 800;
    font-size: 46px;
    position: relative;
}
.heading::after{
    content: "";
    width: 162px;
    height: 9px;
    background-image: url(./img/logo2.png);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: -33px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif; ;
}
nav{
    background-color: #02918c ;
}
nav .manu ul li {
    display: inline-block;
}
nav .manu{
    width: 70%;

}
nav .logo{
    width: 30%;
}
nav .manu ul {
    text-align: right;
    }
nav .manu ul li {
    font-weight: 800;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    padding: 25px;
}
#banner{
    background-image: url(./img/project-1\(A\)-MYFOLIO.jpg);
    height: 728px;
    background-repeat: no-repeat;
   background-size: cover;
}
#banner .banner-cnt{
    text-align: center;
    color: white;
    width: 100%;
}
#banner .banner-cnt h2{
    font-weight: 400;
    color: white;
    font-size: 3opx;
}
#banner .banner-cnt h1{
    font-weight: 800;
    color: white;
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: 30px;
}
#banner .banner-cnt a{
    display: block;
    background-color: #cfc91d  ;
   width: 197PX;
   height: 48PX;
    margin: auto;
    font-weight: 800;
font-size: 14px;
line-height: 48PX;
align-items: center;
margin: auto;
line-height: 48px;
}
#banner .row{
    height: 728px;
}
#about{
    padding:98px 0 ;
}
#about p{
    margin: 70px 0;
    color: #7e8287;
    padding: 0 118px;
    text-align: center;
}
#about p span{
    font-size: 23px;
    font-weight: 800;
}
#about .card{
    width: 25%;
     text-align: center;
     padding: 40px 0;
     border-right: 1px solid#7e8287;
}
#about .card span{
    color: #02918c;
    font-size: 32px;
}
#about .card h4{
    color: #7e8287;
    font-weight: 800;
    font-size: 16px;
    margin: 30px 0;
}
#about .card p{
   padding: 0 25px !important;
    margin: 0 !important;
    font-size: 11px;
    color: #7e8287;
}
.card:last-child{
    border: none;
}
#service{
    background-image: url(./img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 74px o;
}
#service .laftcard{
    width: 50%;
}
#service h2{
    text-align: left;
}
#service  .heading::after{
    left: 0;
    transform: translateX(0);
}
#service .laftcard{
    margin: 70px 0
    ;
}
#service .laftcard p{
    margin: 70px 0;
    color: #7e8287;
}
#service .card{
    text-align: left;
    width: 50%;
    border: 0;
    padding: o 20px 40px 20px;
    color: #02918c;
   
}
#service .card p {
    padding: 0 !important;
    color: #7e8287;
}
#service .laftcard{
    width: 50%;
}
#work h2{
   text-align: center;
   color: #02918c;
}

#worl .laftwork{
    margin: 70px 0
    ;
}
#work .laftwork p{
    margin: 70px 0;
    color: #7e8287;
    text-align: center;
  padding: 0  180px; ;
   
}
#work .workcard{
    width: 25%;
    position: relative;

}
#work .workcard  img{
    display: block;
    width: 100%;
}
#work .workcard .overlay{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    opacity: 0;
    background-color: #02918ca2;
    color: white;
    transition: 500ms;
    visibility: hidden;

}
#work .workcard:hover > .overlay {
    opacity: 1;
    visibility: visible;


}
#work .workcard p{
    padding: 0 50px;
}
#work .workcard h2{
    margin: 30px 0;
}
#contact h2{
    text-align: center;
    padding: 98px 20px;
}

#contact p{
    margin:  0 500px;
}
#contact .heading::after{
    bottom: 30px;
}
#from .ffrom{
    
background-image: url(./img/black.png);
   background-size: cover;
   text-align: center;
   height: 564px;
   
}

#from .ffrom a{
    display: block;
    color: #000;
   
    background-color: #cfc91d  ;
   width: 197PX;
   height: 48PX;
    margin: auto;
    font-weight: 800;
font-size: 14px;
line-height: 48PX;
align-items: center;
margin: auto;
line-height: 48px;
}
.minhaz{
    background-color: #7e8287;
    text-align: center;
    font-weight: 800;
}
    



